@import 'partials/mixins';

$bluegrey: #607d8b;
$light-bluegrey: #9fb4bf;
$orange: #ef6c00;
$red: #ed3b3b;
$green: #689f38;
$blue: #039be5;

$musicColor: #ef8c3b;
$booksColor: #3fa2dd;
$appsColor: #b3ca1d;
$moviesColor: #c25e4c;

@include keyframes(bounce) {
	0%, 20%, 53%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
        opacity: 0.6;
  	}

  	40%, 43% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -6px, 0);
        opacity: 1;
  	}

	70% {
	    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	    transform: translate3d(0, -3px, 0);
  	}

  	90% {
	    transform: translate3d(0,-1px,0);
  	}
}

@include keyframes(rotate) {
    0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@include keyframes(phone) {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform:  /*translateZ(-250px) */rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

strong {
	font-weight: 500;
}

html, body, [role="container"] {
	width: 100vw;
	height: 100vh;
	background: white;
	padding: 0; margin: 0;
	//background: radial-gradient(ellipse at center, #ffffff 25%,#ccc 100%);
	overflow: hidden;
	font-family: Georgia, serif;
}

a {
	color: white;
}

[role="container"] {
	perspective: 550px;
}

[role="arrows"] {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 99;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.3s ease-out;

	&.off {
		opacity: 0;
	}

	div.arrow {
		width: 8vw;
		height: 31.5vh;
		position: absolute;
		top: 50%;
		left: 46vw;
		transform-origin: 50% 0;
		transform: rotateZ(180deg);

		&:after {
			content: ' ';
			width: 0;
			height: 0;
			bottom: 0;
			border-top: 2.2vh solid $light-bluegrey;
			border-left: 4vw solid transparent;
			border-right: 4vw solid transparent;
			position: absolute;
			animation: bounce 1.2s infinite ease-in-out;
		}
		
		

		&.down {
			transform: rotateZ(0deg);
		}

		&.left {
			transform: rotateZ(-90deg);
		}

		&.right {
			transform: rotateZ(90deg);
		}
	}
}

[role="background"] {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	pointer-events: none;

	.logo {
		width: 58vw;
		height: 10vh;
		margin: 6vh auto 0;

		svg {
			width: 100%;
			max-height: 10vh;
		}
	}
}

[role="metrics"] {
	pointer-events: none;
}

[role="main"] {
	position: absolute;
	width: 100vw;
	height: 70vh;
	transform-style: preserve-3d;
	transform-origin: 50% 50% 100px;
	transform: translateY(-50%);
	top: 50%;
	z-index: 100;

	&.covered {
		pointer-events: none;
	}
}

[role="cube"] {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	z-index: 101;	
}

[role="light"] {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	transform: translate3d(0, 0, 750px);
	pointer-events: none;
}

[role="loader"] {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background: rgba(black, 0.6);
	transition: opacity 0.3s ease-out;
	opacity: 1;
	z-index: 1;
	
	& > div {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		margin: auto;
		width: 50px;
		height: 50px;
		background: white;

		//margin: 100px auto;
		animation: rotate 1.2s infinite ease-in-out;
	}

	&.off {
		opacity: 0;
		pointer-events: none;
	}

	
}

[role="debug"] {
	width: 100vw;
	height: 100vh;
	padding: 70px 5vw 20px 5vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(white, 1);
	transition: left 0.4s ease;

	h1 {
		margin-top: 0;
	}

	&.hidden {
		left: -100vw;
	}

	.main {
		height: 100%;
		overflow-y: scroll;
	}

	.close {
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;

		&:before, &:after {
			content: ' ';
			display: block;
			width: 42px;
			height: 1px;
			background: #777;
			position: absolute;
			top: 50%;
			left: -6px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	.open {
		width: 70px;
		height: 70px;
		display: block;
		background: white;
		position: absolute;
		top : 0;
		right: -70px;

		span {
			display: block;
			width: 30px;
			height: 1px;
			background: #777;
			position: absolute;
			top: 50%;
			left: 20px;

			&:before, &:after {
				content: ' ';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				background: #777;
			}

			&:before {
				top: 10px;
			}

			&:after {
				bottom: 10px;
			}
		}
	}

	p {
		color: #777;
		display: inline-block;
		margin: 0;
		font-family: 'Helvetica Neue', sans;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			cursor: pointer;
			background: white;
			border: 1px solid #e6e6e6;
			
			border-radius: 3px;
			box-shadow: 0 1px 2px 0 rgba(black, 0.1);
			margin-bottom: 10px;
			
			&:after {
				clear: both;
			}
		}
	}

	label {
		position: relative;
		display: block;
		height: 100%;
		padding: 10px 10px 10px 50px;
		overflow: hidden;
		z-index: 0;

		h1 {
			font-size: 12px;
			font-weight: 500;
			margin: 0;
			color: #000;
		}

		p {
			font-size: 12px;
			margin: 0;
		}

		&:before {
			content: ' ';
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 30px;
			top: 50%;
			left: 15px;
			margin-top: -10px;
			background: #F44336;
			box-shadow: inset 0 2px 5px 0 rgba(black, 0.5), 0 1px 0 0 rgba(black, 0.2);
		}

		&:after {
			content: ' ';
			position: absolute;
			width: 20px;
			height: 20px;
			top: 50%;
			bottom: 0;
			left: 15px;
			right: 0;
			margin-top: -10px;
			border-radius: 50px;
			background: #C8E6C9;
			transform: scale(0);
			transition: all .2s ease-out;
			z-index: -1;
		}
	}

	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;

		&:checked + label {
			&:before {
				background: #8BC34A;
			}

			&:after {
				background: transparent;
				transform: scale(70);
			}
		}
	}
}

.fold-container {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	transform-style: preserve-3d;

	.blackout {
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		top: 0; left: 0;
		transform: translateZ(-0.5px);
	}

	.fold {
		position: absolute;
		backface-visibility: hidden;
		overflow: hidden;

		img {
			position: absolute;
			top: 0; left: 0;
			transform: translate3d(0, 0, 0);
		}

		.shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background: black;
			top: 0; left: 0;
			transform: translate3d(0, 0, 0);
		}
	}
}

.cube-container {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	transform-style: preserve-3d;
}

.cube-shadow {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	//transform-style: preserve-3d;
	transform-origin: 50% 50%;
	background: rgba(black, 1);
	box-shadow: 0 0 65px 10px rgba(black, 1);
	background-blend-mode: multiply;
	//border-radius: 25px;
	z-index: 1;
}

.cube {
	// overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform-style: preserve-3d;
	display: inline-block;
	margin: auto;
	z-index: 5;
	will-change: transform;

	&.disabled {
		pointer-events: none;
	}

	.side {
		backface-visibility: hidden;
		background: white;
		background: #e5e5e5;
		position: absolute;
		transform-style: preserve-3d;
		overflow: hidden;

		a.btn-buy {
			display: block;
			width: 40%;
			height: 15%;
			position: absolute;
			cursor: pointer;
			bottom: 5%;
			left: 0;
			right: 0;
			margin: auto;
		}

		.vid {
			width: 125px;
			height: 70px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			background: black;

			&:after {
				content: ' ';
				display: block;
				width: 1px;
				height: 1px;
				border-left: 20px solid white;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}

		.shadow {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			background: black;
			transform: translate3d(0, 0, 0);
			will-change: opacity;
		}

		div.cover {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			//transform: translate3d(0, 0, 0);

			&.gif {
				bottom: 0;
				left: 0;
				top: initial;
			}
		}

		.content {
			padding: 1em;
			text-align: left;
			color: #333;
			.title {
				position: relative;
				padding-bottom: .5em;
				border-bottom: 1px solid #cdcdcd;
				padding-left: 50px;
				min-height: 65px;

				h1 {
					line-height: 1;
					margin: 0;
					position: absolute;
					top: 37%;
					transform: translateY(-50%);
					font-size: 22px;
					display: inline-block;
					vertical-align: middle;
				}

			}

			.number {
				text-indent: -9999px;
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				position: absolute;

				img {
					width: 100%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					box-shadow: none;
				}
					
				// &.books {
				// 	&.n1 {
				// 		background: url(../img/content/numbers/book1.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n2 {
				// 		background: url(../img/content/numbers/book2.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n3 {
				// 		background: url(../img/content/numbers/book3.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n4 {
				// 		background: url(../img/content/numbers/book4.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n5 {
				// 		background: url(../img/content/numbers/book5.png) center center no-repeat;
				// 		background-size: contain;
				// 	}
				// }

				// &.music {
				// 	&.n1 {
				// 		background: url(../img/content/numbers/music1.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n2 {
				// 		background: url(../img/content/numbers/music2.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n3 {
				// 		background: url(../img/content/numbers/music3.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n4 {
				// 		background: url(../img/content/numbers/music4.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n5 {
				// 		background: url(../img/content/numbers/music5.png) center center no-repeat;
				// 		background-size: contain;
				// 	}
				// }

				// &.apps {
				// 	&.n1 {
				// 		background: url(../img/content/numbers/apps1.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n2 {
				// 		background: url(../img/content/numbers/apps2.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n3 {
				// 		background: url(../img/content/numbers/apps3.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n4 {
				// 		background: url(../img/content/numbers/apps4.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n5 {
				// 		background: url(../img/content/numbers/apps5.png) center center no-repeat;
				// 		background-size: contain;
				// 	}
				// }

				// &.movies {
				// 	&.n1 {
				// 		background: url(../img/content/numbers/movies1.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n2 {
				// 		background: url(../img/content/numbers/movies2.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n3 {
				// 		background: url(../img/content/numbers/movies3.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n4 {
				// 		background: url(../img/content/numbers/movies4.png) center center no-repeat;
				// 		background-size: contain;
				// 	}

				// 	&.n5 {
				// 		background: url(../img/content/numbers/movies5.png) center center no-repeat;
				// 		background-size: contain;
				// 	}
				// }

			}

			img {
				position: relative;
				box-shadow: 0 0 2px 2px rgba(black, 0.1);

				&.logo {
					position: absolute;
					width: 100%;
					height: 100%;
					box-shadow: none;
				}
			}

			button {
				background: green;
				color: white;
				font-family: 'Roboto', sans-serif;
				outline: none;
				border: none;
				padding: .5em 1em;
				border-radius: 2px;
				font-size: 10px;
			}

			.content-below {
				padding-top: 1.5em;
				img {
					max-width: 40%;
					float: left;
				}
				
				&.apps {
					img {
						box-shadow: none;
					}
				}
			}

			.stars {
				display: block;
				height: 22px;
				padding-top: 10px;
				margin-top: 12px;
				border-top: 1px solid #cdcdcd;
				position: relative;

				&:after {
					content: ' ';
					display: block;
					background: url(../img/content/stars.png) left bottom no-repeat;
					background-size: contain;
					width: 100%;
					height: 100%;
				}
			}

			.content-actual {
				float: right;
				width: 55%;

				p:first-child {
					margin-top: 0;
				}

				p {
					font-size: 10px;

					&.author {
						font-size: 10px;
					}
				}

				&.books {
					button {
						background: $booksColor;
					}
				}

				&.music {
					button {
						background: $musicColor;
					}
				}

				&.movies {
					button {
						background: $moviesColor;
					}
				}

				&.apps {
					button {
						background: $appsColor;
					}
				}
			}

		}

		// video {
		// 	position: absolute;
		// 	bottom: 0;
		// 	right: 0;
		// 	left: 0;
		// 	top: 0;
		// 	margin: auto;
		// 	pointer-events: none;
		// }

		span {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			text-align: center;
		}
	}

}

[role="menu"] {
	width: 100vw;
	margin: 0;
	padding: 0 10vw;
	background: $bluegrey;
	position: absolute;
	bottom: 0;
	z-index: 0;

	.svg-fill {
		// fill: $light-bluegrey;
		fill: rgba(white, 0.6);
	}

	&.border-music {
		border-top: 1.5vh solid $orange;
	}

	&.border-books {
		border-top: 1.5vh solid $blue;
	}

	&.border-apps {
		border-top: 1.5vh solid $green;
	}

	&.border-movies {
		border-top: 1.5vh solid $red;
	}

	div {
		width: 20vw;
		display: inline-block;
		padding: 1em 1em;
		text-align: center;
		height: 100%;
		font-weight: 400;
		font-size: 8px;
		color: white;
		// opacity: 0.5;
		transition: background 0.3s ease-out;
		position: relative;

		svg {
			position: relative;
			max-width: 80%;
			max-height: 10.5vh;
		}

		&.music {
			background: rgba($orange, 0.6);
		}

		&.books {
			background: rgba($blue, 0.6);
		}

		&.apps {
			background: rgba($green, 0.6);
		}

		&.movies {
			background: rgba($red, 0.6);
		}

		&:not(:first-child) {
			// margin-left: 2vw;
		}

		&.selected {
			
			&.music {
				background: $orange;
			}

			&.books {
				background: $blue;
			}

			&.apps {
				background: $green;
			}

			&.movies {
				background: $red;
			}

			.svg-fill {
				fill: white;
			}
		}

	}
}

[role="phone"] {
	position: absolute;
	width: 282px;
	height: 539px;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
	// transform: rotateY(90deg);
	transform-style: preserve-3d;
	// animation: phone 2s infinite linear;

	& > * {
		position: absolute;
		backface-visibility: hidden;
	}

	[role^="corner"] {
		transform-style: preserve-3d;
		width: 14px;
		height: 6px;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		margin: auto;
		div {
			position: absolute;
			width: 14px;
			height: 10px;
			background: #999bb0;

			&:nth-child(1) {
				height: 26px;
				transform: translateY(-2px);
				background: #8e8fa2;
			}

			&:nth-child(2) {
				transform: translateY(-12px) translateZ(-3px) rotateX(28deg);
				background: #7d7f8f;
			}

			&:nth-child(3) {
				transform: translateY(-20px) translateZ(-10px) rotateX(49deg);
				background: #6d6e7c;
			}

			&:nth-child(4) {
				transform: translateY(-24px) translateZ(-17px) rotateX(60deg);
			}

			&:nth-child(5) {
				transform: translateY(-28px) translateZ(-25px) rotateX(75deg);
			}

			&:nth-child(6) {
				height: 26px;
				transform: translateY(-37px) translateZ(-41px) rotateX(88deg);
			}

		}
	}

	[role="corner-tl"] {
		transform: rotateY(-90deg) translateY(-237px) translateZ(138px) translateX(9px);
	}

	[role="corner-tr"] {
		transform: rotateY(90deg) translateY(-237px) translateZ(138px) translateX(-9px);
	}

	[role="corner-bl"] {
		transform: rotateX(180deg) rotateY(-90deg) translateY(-237px) translateZ(138px) translateX(-9px);
	}

	[role="corner-br"] {
		transform: rotateX(180deg) rotateY(90deg) translateY(-237px) translateZ(138px) translateX(9px);
	}

	[role^="side"] {
		width: 14px;
		height: 492px;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		margin: auto;
		transform-style: preserve-3d;

		.shadow {
			width: 100%;
			height: 100%;
			background: black;
			opacity: 0;
			will-change: opacity;
		}
	}

	[role="side-left"] {
		background: url(../img/phone/side-left.png);
		transform: translateX(-139px) translateZ(10px) rotateY(-90deg) scaleY(0.95);
	}

	[role="side-right"] {
		background: url(../img/phone/side-right.png);
		transform: translateX(139px) translateZ(10px) rotateY(90deg) scaleY(0.95);
	}

	[role="front"], [role="back"] {
		width: 282px;
		height: 539px;
		transform-style: preserve-3d;
	}

	[role="front"] {
		transform: translateZ(17px) scale(0.99, 0.99);
		background: url(../img/phone/front.png);

		.highlight {
			width: 97%;
			height: 98.5%;
			margin: 1.5%;
			overflow: hidden;
			border-radius: 35px;
			position: absolute;
			top: 0;
			opacity: 1;
			will-change: opacity;
			transform: translateZ(2px);
			transform-origin: 50% 0;

			&:after {
				content: ' ';
				display: block;
				position: absolute;
				width: 170%;
				height: 60%;
				background: linear-gradient(top, rgba(white, 0) 0%,rgba(white, 0.4) 100%);
				transform: rotate(-25deg) translateX(-100px) translateY(-100px);
			}
		}

		.shadow {
			width: 97%;
			height: 98.5%;
			margin: 1.5%;
			overflow: hidden;
			border-radius: 35px;
			position: absolute;
			top: 0;
			opacity: 0;
			background: black;
			transform: translateZ(1px);
		}
	}

	[role="back"] {
		transform: rotateY(180deg) translateZ(24px);

		.face {
			width: 14.2%;
			height: 100%;
			position: absolute;
			background: url(../img/phone/back.png) no-repeat;
			transform-style: preserve-3d;
			overflow: hidden;

			.shadow {
				width: 100%;
				height: 98%;
				position: absolute;
				top: 0; bottom: 0;
				margin: auto;
				background: black;
				opacity: 0;
				will-change: opacity;
				transform: translateZ(1px);
			}

			&:nth-child(1) {
				transform: translateX(-3px) translateZ(-24px) rotateY(-19deg);

				.shadow {
					border-top-left-radius: 35px;
					border-bottom-left-radius: 35px;
				}
			}

			&:nth-child(2) {
				left: 11.111%;
				background-position-x: -31.33px;
				transform: translateZ(-13px) rotateY(-17deg);
			}
			
			/* Done */
			&:nth-child(3) {
				left: 22.222%;
				background-position-x: -62.66px;
				transform: translateZ(-5px) rotateY(-14deg);
			}
			
			/* Done */
			&:nth-child(4) {
				left: 33.333%;
				background-position-x: -93.99px;
				transform: translateZ(1px) rotateY(-7deg);
			}
	
			/* Middle */
			&:nth-child(5) {
				left: 44.444%;
				background-position-x: -125.32px;
				transform: translateZ(3px);
			}
			
			/* Done */
			&:nth-child(6) {
				left: 55.555%;
				background-position-x: -156.65px;
				transform: translateZ(1px) rotateY(7deg);
			}

			/* Done */
			&:nth-child(7) {
				left: 66.666%;
				background-position-x: -187.98px;
				transform: translateZ(-5px) rotateY(14deg);
			}

			&:nth-child(8) {
				left: 77.777%;
				background-position-x: -219.31px;
				transform: translateZ(-14px) rotateY(17deg);
			}

			&:nth-child(9) {
				left: 88.888%;
				background-position-x: -250.64px;
				transform: translateX(-1px) translateZ(-24px) rotateY(19deg);

				.shadow {
					width: 80%;
					border-top-right-radius: 35px;
					border-bottom-right-radius: 35px;
				}
			}



			// &:nth-child(3) {
			// 	left: 39%;
			// 	background-position-x: -112.8px;
			// 	transform: translateZ(2px);
			// }

			// &:nth-child(4) {
			// 	left: 59%;
			// 	background-position-x: -169.2px;
			// 	transform: translateZ(-5px) rotateY(14deg);
			// }

			// &:nth-child(5) {
			// 	left: 79%;
			// 	background-position-x: -225.6px;
			// 	transform: translateZ(-21px) rotateY(20deg);
			// }
		}
	}
}

body, [role="container"] {
	&[class^="border-"]:before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;	
	}

	&.border-music:before {
		border-top: 1.5vh solid $orange;
	}

	&.border-books:before {
		border-top: 1.5vh solid $blue;
	}

	&.border-apps:before {
		border-top: 1.5vh solid $green;
	}

	&.border-movies:before {
		border-top: 1.5vh solid $red;
	}
}